{% extends "index.html" %}

{% block content2 %}    <div style=" margin-left: 20% ; ">
<h1>Enter Details of Package</h1>

<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
      <div class="form-group">
    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" name="t1"/><br/>
    </div>
      </div>
    <div class="form-group">
    <label class="col-sm-2 col-form-label">Location</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" name="t2"/>
    </div>
    </div>    <div class="form-group">
    <label class="col-sm-2 col-form-label">Highlights</label>
    <div class="col-sm-5"><input type="text" class="form-control" name="t3"/>
    </div></div>    <div class="form-group">
    <label class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-5"> <input type="text" class="form-control" name="t4"/></div></div>
    <div class="form-group">
    <label class="col-sm-2 col-form-label">Details</label>
    <div class="col-sm-5">
<textarea cols="35" rows="8" class="form-control" name="t5">
</textarea></div></div>
{#    <div class="form-group">#}
{#    <label class="col-sm-2 col-form-label">Approve</label>#}
{#    <div class="col-sm-5"> <input type="checkbox" class="form-control" name="t6" value="True">#}
{#    </div></div>#}
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Select Image</label>
            <input type="file" class="btn" name="t7">
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Select Image</label>
            <input type="file" class="btn" name="t8">
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Select Image</label>
            <input type="file" class="" name="t9">
        </div>
<input type="submit" class="btn btn-primary"/>
</form></div>
{% endblock %}